.slider-produtos {
    padding: 32px 0 48px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;

    > h2 {
        margin-left: 16px;
    }

    > div {
        padding-left: 16px;
        display: flex;
        gap: 16px;
        overflow-x: auto;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    > div::-webkit-scrollbar {
        display: none;
    }

    > div::after {
        content: '';
        flex: 0 0 0px;
    }

    .produto-card{
        width: 220px;

        figure {
            position: relative;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                width: 24px;
                background-color: var(--white);
                position: absolute;
                z-index: 2;
            }
    
            .favoritar {
                top: 10px;
                right: 10px;
            }
    
            .adicionar-carrinho {
                right: 10px;
                bottom: 10px;
            }

            p {
                position: absolute;
                left: 10px;
                bottom: 10px;
                color: var(--red);
            }
        }

        div {
            h3 {
                font-size: 13px;
                font-weight: 300;
            }

            p {
                font-weight: 400;
                margin-top: 16px;

                .preco-antigo {
                    margin-right: 8px;
                    font-size: 13px;
                    font-weight: 300;
                    color: var(--grey);
                    text-decoration: line-through;
                }
            }
        }
    }
}