.conheca-mais {
    padding: 32px 16px 62px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--white);
    
    .fixo {
        p {
            font-size: 12px;
            font-style: italic;
            color: var(--grey);
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
    }
    
    .slick-dots {
        position: absolute;
        bottom: -30px;
        left: 154px;

        li {
            margin: -5px;
        }
    }
}