.conheca-mais {
    padding: 32px 16px;
    display: flex;
    gap: 32px;
    background-color: var(--white);

    > div {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .fixo {
        p {
            font-size: 12px;
            font-style: italic;
            color: var(--grey);
        }
    }
}