.titulo {
    margin-top: 32px;
    margin-left: 16px;
}

.slider-categorias {
    background-color: var(--white);
    padding: 16px 16px 48px;
    overflow-x: auto;

    > div {
        display: flex;
        gap: 12px;
    }

    > div::after {
        content: '';
        flex: 0 0 4px;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-categorias::-webkit-scrollbar {
    display: none;
}
